body {
    height: 100vh;
    background-color: #444444;
}
.froggert-mode {
    background-image: url("froggert-background.png");
    background-size: cover;
}
header h1 {
    margin-bottom: 5vh;
}
div {
    margin-right: 5vh;
    margin-bottom: 5vh;
}
.led {
    text-align: left;
}
.panel-body {
    text-align: left;
}